[Unit]
Description=service to run flower classifier server as a background service
After=network.target

[Service]
Type=simple
User=vincent
WorkingDirectory=/home/vincent/FlowerClassifierTool
ExecStart=/home/vincent/FlowerClassifierTool/flower-classifier-start.sh

[Install]
WantedBy=multi-user.target
