<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <h1>Flower Classifier!</h1>

    <form action="/">
        <input type="submit" value="Back" />
    </form>

    <br>

    <h2> Original Upload: </h2>
    <img src="{{ uploaded_file }}" width="300" height="200" />

    <br>

    <h2> Prediction Results: </h2>


    {% for prediction in predictions %}

    <img src="{{ prediction[2] }}" width="300" height="200" />

    <p> Prediction: {{ prediction[0] }} </p>
    <p> Confidence: {{ prediction[1] }} </p>
    <br>
    <br>

    {% endfor %}


</body>

</html>