<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 0.5px solid black;
        }
    </style>
</head>

<body>
    <h1>Flower Classifier!</h1>

    <form action="/classify" method="POST" enctype="multipart/form-data">
        <input type="file" name="upload">
        <button type="submit">Upload</button>
    </form>

    <br>

    <table>
        <tr>
            <th><b>Flower Type</b></th>
            <th><b>Count</b></th>
        </tr>
        {% for class_name, count in class_counts.items() %}
        <tr>
            <td>{{ class_name }}</td>
            <td>{{ count }}</td>
        </tr>
        {% endfor %}
    </table>


</body>

</html>