<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Training Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        .container {
            max-width: 400px;
            margin: auto;
        }

        nav {
            margin-bottom: 20px;
        }

        nav a {
            margin: 0 10px;
            text-decoration: none;
            color: blue;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/upload">Upload Training Data</a>
        <a href="/validate">Validate Data</a>
        <a href="/classes">Supported Classes</a>
    </nav>
    <div class="container">
        <form action="/training" method="POST" enctype="multipart/form-data">
            <label for="classes">What type of flower is this?</label>
            <select id="classes" name="classes">
                {% for class_name, count in class_counts.items() %}
                <option value="{{ class_name}}">{{ class_name}}</option>
                {% endfor %}
            </select>
            <input type="file" name="upload">
            <button type="submit">Upload</button>
        </form>

        {% if status %}
        <p>{{ status }}</p>
        {% endif %}
    </div>
</body>

</html>